body h1, 
body h2, 
body h3, 
body h4, 
body h5, 
body h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color : #f86951;
}

body {
    background-color: #eeeeee;
    font-family: 'Fjord One', serif;
    font-size: 14px;
    color: #002949;
}

body > .container,
body > .container-fluid ,
header .container,
header .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

header {
    height:50px;
    font-family: 'Source Sans Pro', sans-serif;
}

    header .navbar{
        padding-left:15px;
        padding-right:15px;
    }

.navbar-inverse {
    border: 0;
    background-color: #002949;  
    color: #ffffff !important;
}

    .navbar-brand {
        color: #ffffff !important;
    }

    .navbar-inverse .navbar-toggle {
        background-color: transparent !important;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: transparent !important;
        border-color: #ffffff;
        color: #f86951 !important;
    }
    
    .navbar-inverse li a {
        color: #ffffff !important;            
    }
    
    .navbar-inverse li a:hover,
    .navbar-inverse li a:focus,
    .navbar-inverse li a:active {
        color: #f86951 !important;
    }

.banner-img {
    display: block;
    height: 300px;
    width: 100%;
    background: url("../img/board-electronics-computer-data-processing-50711.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}


.page_title {
    padding-left: 15px;
    padding-right: 15px;
    margin:0;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

    .page-title .wrapper h2 {
        color: #f86951 !important;
    }

.page_content {
    padding: 15px;
}

.thumbnail{
    padding:0;
}
    .thumbnail img {
        width: 100%;
    }

.sidebar-wrapper {
    margin-top: 15px; 
    margin-left:-20px;
    
    padding-left: 40px;
    padding-right: 0;
}
    img {
        display: block;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .affix {
        top: 70px;
        max-width: 270px;
    }

    .sidebar-section {
        margin: 25px 0px 25px 0px;
        text-align:center;
    }

    .sidebar-wrapper .sidebar-section:first-of-type{
        margin-top: 0;
    }

    .sidebar-wrapper .sidebar-section:last-of-type{
        margin-bottom: 0;
    }
    
    .links {
        background-color: #ffffff;
        padding: 15px;
    }
    
    .links a,
    .links a:hover,
    .links a:visited,
    .links a:active,
    .links a:link {
        color: #002949;
        font-size: 32px;
        text-decoration: none;
    }


    .cat_links {
        list-style: none;
        text-align: left;
        padding: 0;
    }
    
        .cat_links a {
            color: #002949;
        }
        
    .donate-section p {
        text-align: left;
    }
        

footer {
    text-align: center;
}


.col-xs-12, 
.col-sm-12, 
.col-md-9 {
    background-color: #ffffff !important;
    background: #ffffff !important;
}

.post {
     padding-top: 10px;
     padding-left: 25px;
     padding-right:25px;
}

/* latin */
@font-face {
  font-family: 'Fjord One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjord One'), local('Fjord-One'), url(/fonts/k1xuy2AQ8wbv_amiU4s581tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/fonts/ODelI1aHBYDBqgeIAH2zlNOAHFN6BivSraYkjhveRHY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/fonts/ODelI1aHBYDBqgeIAH2zlC2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/fonts/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}