<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ " /index.html " | prepend: site.baseurl }}">
            <img src="/img/icons/android-icon-36x36.png" alt="FiddlyDigital Icon"></img>
            <span>&nbsp;</span>
            <h1>{{ site.title }}</h1>
        </a>
        <div class="navbar-burger burger" data-target="navbar">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
                <div class="navbar-item">
                        <a href="{{ "/" | prepend: site.baseurl }}">
                            Posts
                        </a>
                    </div>
            <div class="navbar-item">
                <a href="{{ "/about.html" | prepend: site.baseurl }}">
                    About
                </a>
            </div>
        </div>
    </div>
</nav>