<div class="well" data-spy="affix" data-offset-top="300">
    <div class="sidebar-section">
        <img src="/img/avatar1.jpeg" alt="picture of author"></img>
        <p>
            I love practising my craft and sharing knowledge with others.
        </p>
        <p>
            Contact me on one of the platforms below!
        </p>
    </div>
    
    <div class="sidebar-section">
        <div class="links">
            <a href="https://github.com/fiddlydigital">
                <i class="fa fa-github"></i>
            </a>
    
            <a href="https://www.instagram.com/fiddlydigital">
                <i class="fa fa-instagram"></i>
            </a>
    
            <a href="https://soundcloud.com/user-985195865">
                <i class="fa fa-soundcloud"></i>
            </a>
            
            <a href="https://www.youtube.com/channel/UCmHaBKW7a8Dt_MkOpMcW-Lg">
                <i class="fa fa-youtube"></i>
            </a>
        </div>
    </div>
</div>