<div class="well" data-spy="affix" data-offset-top="300">
    <div class="sidebar-section">
        <img src="http://placehold.it/180x180" alt="picture of author"></img>
        <p>
            I love practising my craft and sharing knowledge with others.
        </p>
    </div>
    
    <div class="sidebar-section">
        <div class="links">
            <a href="https://github.com/fiddlydigital">
                <i class="fa fa-github"></i>
            </a>
    
            <a href="https://www.instagram.com/fiddlydigital">
                <i class="fa fa-instagram"></i>
            </a>
    
            <a href="https://twitter.com/fiddlydigital">
                <i class="fa fa-twitter"></i>
            </a>
            
            <a href="https://www.youtube.com/channel/UCmHaBKW7a8Dt_MkOpMcW-Lg">
                <i class="fa fa-youtube"></i>
            </a>
        </div>
    </div>
</div>